*{
    padding: 0px;
    margin: 0px;
}
select{
    padding: 5px 5px;
}

tr td input{
    padding: 5px 5px;
}
.container{
    margin: 0 auto;
	width: 1200px;
	min-height: 300px;
	max-width: 1200px;
}
.header{
    margin: 25px;
    text-align: center;
    justify-content: space-between;
}
.form{
    padding: 15px;
    justify-content: space-between;
}
.td{
    text-align: center;
    padding: 25px;
}
aside{
    float: right;
}
img{
    width: 350px; 
    height: 250px; 
    justify-content: space-between;
}
.clearfix{
	clear:both;
}
body{
    animation: fadein 4s;
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("../img/ponque.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
table{
    margin: 0px auto;
    color: #fff;
    width: 540px;
    height: 400px;
    justify-content: space-between;
}
.p
{
    font-size: 20px;
    border: red solid 2px;
    min-width: 40px;
    text-align: center;
    justify-content: space-between;
    width: 540px;
    height: auto;
    color: #fff;
    margin: 0px auto;
}
h1{
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: #fff;
}
h2{
    text-align: center;
    font-weight: normal;
    font-size: 25px;
    
}


.boton{
    width: 80px;
    left: 15px;
    margin: 25px ;
}
@keyframes fadein{
    0%{
        opacity: 0;
    }
    25%{
        opacity: 0.5;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 1.5;
    }
    100%{
        opacity: 2;
    }
}
